@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:wght@300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-color: #ff99cb;
    --section-background: #ececec;
    --main-transition: .7s;
    --main-padding-top: 20px;
    --main-padding-bottom: 20px;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Cairo', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/* small screens */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* medium screens */
@media (max-width: 992px) {
    .container {
        width: 100%;
    }
}

/* large screens */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.container {
    padding: 0 15px;
    margin: 0 auto;
}
.header {
    position: fixed;
    margin: 0 auto;
    padding-top: 7px;
    left: 0;
    right: 10px;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .nav-bar {
            display: flex;
            align-items: center;
            list-style: none;
            li {
                padding-left: 40px;
                a {
                    text-decoration: none;
                    color: white;
                    font-size: 20px;
                    padding: 10px 0;
                    font-weight: 400;
                    border-radius: 6px;
                    transition: var(--main-transition);
                    &:hover {
                        background-color: #fff;
                        color: var(--main-color);
                        padding: 10px 20px;
                        transition: var(--main-transition);
                    }
                }
            }
        }
        .logo {
            display: flex;
            align-items: center;
            i{
                color: white;
            }
            span {
                font-size: 35px;
                font-weight: 600;
                color: white;
            }
        }
    }
}
.main-page {
    background-image: url(../images/Picsart_24-01-17_18-18-34-552.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .container {
        p {
            margin: 0;
            padding: 0;
            font-size: 40px;
            color: white;
            letter-spacing: 2px;
        }
        .main-title {
            font-size: 80px;
            color: white;
            letter-spacing: 2px;
            margin-top: 2px;
            margin-bottom: 50px;
            font-weight: 900;
            -webkit-animation: text-shadow-drop-center 0.6s both;
	        animation: text-shadow-drop-center 0.6s both;
        }
        a {
            text-decoration: none;
            color: white;
            padding: 10px 20px;
            border: solid 2px;
            border-radius: 6px;
            font-size: 18px;
            transition: var(--main-transition);
            &:hover {
                background-color: white;
                color: var(--main-color);
                transition: var(--main-transition);
            }
        }
    }
}
.main-title-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 40px;
    color: var(--main-color);
    font-weight: 800;
    margin-bottom: 80px;
}
.second-page .container .box:hover i {
    cursor: pointer;
    opacity: 1;
    transition: .4s;
}
/* .second-page .container .box:hover */
.second-page {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
    position: relative;
    .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 30px;
        .box {
            background-color: var(--section-background);
            /* border: solid 3px var(--main-color); */
            border-radius: 6px;
            box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
            transition: var(--main-transition);
            filter:grayscale(60%);
            -webkit-filter:grayscale(60%);
            &:hover{
                transform: translateY(-15px);
                transition: var(--main-transition);
                box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.3);
                filter:grayscale(0);
                -webkit-filter:grayscale(0);
            }
            img {
                width: 100%;
                border-radius: 4px 4px 0 0;
                cursor: pointer;
            }
            .info {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px;
                h3 {
                    margin: 15px;
                    padding: 0;
                    color: var(--main-color);
                    letter-spacing: 0.6px;
                }
                p {
                    margin: 0 0 2px 0;
                    padding: 0;
                    color: #777;
                    font-weight: 600;
                }
            }
            i {
                transform: translate(10px, -124.5px);
                padding: 18px 20px;
                margin: 0px;
                background-color: var(--main-color);
                color: white;
                border-radius: 50%;
                font-size: 18px;
                opacity: 0;
                transition: .4s;
            }
        }
    }
}
/* music word animation */
@-webkit-keyframes text-shadow-drop-center {
    0% {
      text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
    }
  }
  @keyframes text-shadow-drop-center {
    0% {
      text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
    }
  }
/* play-it button animation */
@-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }

  
  